/* Estilo para el encabezado (header) */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Estilo para la barra de navegación (nav) dentro del encabezado */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Estilo para el contenido principal (main) */
main {
    margin: 20px;
}

section {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 20px;
}

/* Estilo para el pie de página (footer) */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
